
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Backend/Views/MainPanel/_MainPanel.cshtml";
}



    <h2 class="text-center">後台管理首頁</h2>

    <img src="~/Asset/Images/slider-main-01.jpg" width="1450" height="600" />

