@model IAAI0731.Models.BackModel.AboutUs

@{
    ViewBag.Title = "AssociationIntro";

}
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

    <h2 class="page-title">
        @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
    </h2>
    <hr class="botmargin-min">
    @Html.Raw(Model.Content)
    <!-- 內容開始 -->
</div>