
@{
    ViewBag.Title = "showCalendar";
    Layout = "~/Views/AboutUsIntro/_AboutUsLayout.cshtml";

}

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

    <h2 class="page-title">協會行事曆</h2>
    <hr class="botmargin-min">

    <!-- 內容開始 -->

    <div>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=iaaitw119%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York"
                style="border-width:0"
                width="800"
                height="600"
                frameborder="0"
                scrolling="no"></iframe>
    </div>
</div>
